<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="description"  content="This is the index">
  <meta name="author"       content="Tundra Fizz">
  <link rel="shortcut icon" href="/img/icon.jpg">
  <link rel="stylesheet"    href="/css/theme.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/admin.js"></script>
</head>

<body>
  <div class="content">
    <pre id="admin"></pre>
  </div>
</body>
</html>
