<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NodeJS Example</title>
    <meta charset="utf-8">
    <meta name="description"  content="This is the index">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="stylesheet"    href="/css/index.css">
    <script src="js/jquery-3-3-1.js"></script>
    <script src="js/index.js"></script>
  </head>

  <body>
    <div>
      <p>Enter in a YouTube link</p>
    </div>

    <div>
      <input id="link" type="text" style="width: 400px;">
    </div>

    <div>
      <br>
      <input type="button" value="Submit" onclick="Archive();">
    </div>
  </body>
</html>
